#divider {
    width: 77px;
    height: 3px;
    background-color: #0F0B60;
    margin-bottom: 5%;
}

.first-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70vh;
    background-color: #F5F5F5;
    padding: 2rem;

    .first-text {
        width: 45vw;
    }

    .first-text h1 {
        width: 25vw;
        font-weight: bolder;
        color: #0F0B60
    }

    .first-img img {
        width: 45vw;
        height: 50vh;
    }

    .invest-btn {
        color: white;
        background-color: #0E600B;
        text-transform: none;
        font-family: "Poppins", sans-serif;
    }
}

.trans {
    width: 100vw;
    height: 20vh;
    background: linear-gradient(176deg, #F5F5F5 40%, #FFFFFF 41%);
}

.second-content h2 {
    color: #0F0B60;
    font-weight: 600;
}

.second-content {
    width: 100vw;
    text-align: center;

    .second-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

<<<<<<<<< Temporary merge branch 1
.third-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;



    .third {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }

    .third-text {
        width: 45vw;
    }

    .third-img img {
        width: 45vw;
        height: 50vh;
    }
}

.third-content h2 {
    width: 100vw;
    color: #0F0B60;
    text-align: center;
}

.fourth-content {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;



    .fourth {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }

    .fourth-text {
        width: 45vw;
    }

    .fourth-img img {
        width: 45vw;
        height: 50vh;
    }
}

.fourth-content h2 {
    width: 100vw;
    color: #0F0B60;
    text-align: center;
}

.fourth-count {
    font-size: 110px;
    font-weight: bold;
    color: #656565;
    position: relative;
    text-align: center;
    opacity: 10%;
=========
.lead-text {
    font-weight: 700;
    font-size: 3rem;
    width: 100%;
>>>>>>>>> Temporary merge branch 2
}