.ps-btn{
    color: #0F0B60;
    border: 1px solid #0F0B60;
    font-family: 'poppins',sans-serif;
    padding: 6px;
    border-radius: 7px;
    box-shadow: 0 0 5px 0;
}

.ps-btn:hover{
    color: white;
    background-color: #0F0B60;
    border: 1px solid #0F0B60;
}
